.Admin {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

h2 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #6E2E28;
    text-align: center;
    justify-self: center;
}

h3 {
    height: 45px;
    width: 80%;
    justify-self: center;
    align-content: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #6E2E28;
    text-align: center;
}

p {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #6E2E28;
    text-align: center;
    margin-top: 10px;
    justify-self: center;
    margin-bottom: 20px;
}



button {
    background-color: #6E2E28;
    color: white;
    cursor: pointer;
    padding: 10px 15px;    
    border: 1px blueviolet rounded;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 15%;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    }

        button:hover{
            background-color: #471E1A;
            color: white;
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }

.products_container {
    grid-area: products;
    justify-self: center;
    display: flex; 
    flex-wrap: wrap;
    overflow-x: auto; 
    width: 80vw; 
    overflow-y: hidden;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    gap: 15px;
    }

.product_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;  
        width:250px;
        height: 300px;  
        background-color: #FFEBDE;
        border: 3px solid #6E2E28;
        border-radius: 20%;
        padding: 5px;
        text-align: center;
        box-shadow: 2px 2px 5px gray;
        }

                .product_item h3 {
                    height: 45px;
                    width: 80%;
                    justify-self: center;
                    align-content: center;
                    font-family: 'Fredoka', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    color: #6E2E28;
                }

                .product_item p {
                    font-family: 'Fredoka', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #6E2E28;
                }

                .product_item img {
                    width: 50%; 
                    height: 30%; 
                    flex-shrink: 0; 
                    object-fit:cover;
                    border-radius: 10%; 
                }
                .product_item img:hover {
                    transform: scale(1.6);
                    transition: all 0.3s ease-in-out;
                }

.button_container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0;
    margin-top: 10px;
}

.button_Modify {
            background-color: #6E2E28;
            color: white;
            cursor: pointer;
            padding: 7px 7px;    
            border: 1px blueviolet rounded;
            font-family: 'Fredoka', sans-serif;
            font-weight: 500;
            font-size: 18px;
            width: 60%;
            margin-top: 10px;
            }

                .button_container button:hover{
                    background-color: #471E1A;
                    color: white;
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                }
.button_Delete {
            background-color: #B22222;
            color: white;
            cursor: pointer;
            padding: 7px 7px;    
            border: 1px blueviolet rounded;
            font-family: 'Fredoka', sans-serif;
            font-weight: 500;
            font-size: 18px;
            width: 60%;
            margin-top: 10px;
            }

                .button_container button:hover{
                    background-color: #471E1A;
                    color: white;
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                }
.admin_header_actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
    .admin_header_actions h2 {
        font-family: 'Fredoka', sans-serif;
        font-weight: 600;
        font-size: 28px;
        color: #471E1A;
        margin-left: 30%;
    }

    .admin_header_actions button {
        align-self: flex-end;
        margin: 3%;
        margin-top: 4%;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #471E1A;
        align-self: center;
    
    }