
.header_nav {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100vw;
    height: auto;
    align-items: center;
    background-color: #FCEFDB;

    
}

.header_nav h1 {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #6E2E28;
    width: 60%;
    margin-left: 25%;


}

.navegation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 50%;
    height: 20%;
    align-items:center;
    margin: 10px;
}

        /* .navegation NavLink {
            text-decoration: none;
            font-family: 'Fredoka', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #6E2E28;}
        
        .navegation NavLink:hover {
            color: #FF7F50;
        } */

.shopping_Cart_button {
    background-color: #6E2E28;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 1px blueviolet rounded;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 25%;
    border-radius: 10px;
    align-self: center;
    padding: 7px 7px;
    }

                    .shopping_Cart_button:hover{
                    background-color: #471E1A;
                    color: white;
                    transform: scale(1.09);
                    transition: all 0.3s ease-in-out;
                }
                    /* .shopping_Cart_button i{
                        margin-left: 7px;
                    }    */