.pagination_controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
}
.pagination_controls button {
    background-color: #6E2E28;
    color: white;
    cursor: pointer;
    padding: 10px 15px;    
    border: none;
    border-radius: 8px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 120px;
}
.pagination_controls button:hover {
    background-color: #471E1A;
}