.h2 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #6E2E28;
    text-align: center;
    margin-top: 10px;
    justify-self: center;
}

.products_container {
    grid-area: products;
    justify-self: center;
    display: flex; 
    flex-wrap: wrap;
    overflow-x: auto; 
    width: 80vw; 
    overflow-y: hidden;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    gap: 15px;
    }

.product_item {

        flex-shrink: 0;  
        width:250px;
        height: 250px;  
        background-color: #FFEBDE;
        border: 3px solid #6E2E28;
        border-radius: 20%;
        padding: 5px;
        text-align: center;
        box-shadow: 2px 2px 5px gray;
        }

                .product_item h3 {
                    height: 45px;
                    width: 80%;
                    justify-self: center;
                    align-content: center;
                    font-family: 'Fredoka', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    color: #6E2E28;
                }

                .product_item p {
                    font-family: 'Fredoka', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #6E2E28;
                }

                .product_item img {
                    width: 50%; 
                    height: 30%; 
                    flex-shrink: 0; 
                    object-fit:cover;
                    border-radius: 10%; 
                }
                .product_item img:hover {
                    transform: scale(1.6);
                    transition: all 0.3s ease-in-out;
                }

                .product_item button{
                    background-color: #6E2E28;
                    color: white;
                    cursor: pointer;
                    padding: 7px 7px;    
                    border: 1px blueviolet rounded;
                    font-family: 'Fredoka', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    width: 60%;
                    margin-top: 10px;
                    }

                        .product_item button:hover{
                            background-color: #471E1A;
                            color: white;
                            transform: scale(1.05);
                            transition: all 0.3s ease-in-out;
                        }

.pictures_container {
    grid-area: PicturesContainer;
    justify-self: center;
    display: flex; 
    flex-wrap: nowrap;
    overflow-x: hidden; 
    overflow-y: hidden;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    }

.pictures {
            grid-area: Pictures;
            display: flex;
            flex-direction: row;
            gap: 20px;
            animation: scroll 40s linear infinite;  
            animation-play-state: running; 
            width: 100%;
            height: 300px; 
            padding: 20px;
        }

        .pictures:hover {
            animation-play-state: paused;
        }

                .pictures img {
                    width: 30%; 
                    height: 100%; 
                    flex-shrink: 0; 
                    object-fit:cover; 
                    border: #6E2E28 2px solid;
                    border-radius: 10%;

                }
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

