.product_item {

flex-shrink: 0;  
width:250px;
height: 250px; 
margin-right: 10px; 
background-color: #FFEBDE;
border: 3px solid #6E2E28;
border-radius: 20%;
padding: 5px;
text-align: center;
box-shadow: 2px 2px 5px gray;
}

    .product_item h3 {
        height: 45px;
        width: 80%;
        justify-self: center;
        align-content: center;
        font-family: 'Fredoka', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #6E2E28;
        margin: 10px 0;
    }

    .product_item p {
        font-family: 'Fredoka', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #6E2E28;
        margin: 10px 0;
    }

    .product_item img {
        width: 50%; 
        height: 30%; 
        flex-shrink: 0; 
        object-fit:cover;
        border-radius: 10%; 
        
    }

    .product_item img:hover {
        transform: scale(1.6);
        transition: all 0.3s ease-in-out;
    }

    .product_item button{
        background-color: #6E2E28;
        color: white;
        cursor: pointer;
        padding: 7px 7px;    
        border: 1px blueviolet rounded;
        font-family: 'Fredoka', sans-serif;
        font-weight: 500;
        font-size: 18px;
        width: 60%;
        margin-top: 10px;
        }

            .product_item button:hover{
                background-color: #471E1A;
                color: white;
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }