.div_header_Xclose_model{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;

}
        .div_header_Xclose_model button {
            align-self: flex-end;
            margin: 3%;
            margin-top: 4%;
            background-color: transparent;
            border: none;
            font-size: 24px;
            cursor: pointer;
            color: #471E1A;
            align-self: center;
        
        }
        .div_header_Xclose_model h4 {
            margin-left: 30%;
            font-family: 'Fredoka', sans-serif;
            font-weight: 600;
            font-size: 28px;
            color: #471E1A;
        }

.sect_Prod_Shop_Cart{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 10px;
    justify-content: center;
    justify-self: center;
}
